.square {
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  border: 1px solid #999;
  height: 34px;
  width: 34px;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  text-align: center;
  background: #fff;
}
.square:focus {
  outline: none;
  background: #ddd;
  
}
